@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Public Sans', sans-serif;
  line-height: 1.3;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex--dir--c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex--jc--c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex--js--sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex--as--c {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

.bg--light {
  background: #fafafa;
}

.bg--grey {
  background: #f3f4f6;
}

.txt {
  text-align: center;
  color: #9698a6;
  font-size: 0.875rem;
}

@media (min-width: 64rem) {
  .txt {
    text-align: left;
  }
}

.txt__ttl {
  font-weight: 400;
  color: #2d314d;
}

.header {
  max-width: clamp(18.75rem, 100vw, 72.375rem);
  height: 3.75rem;
  margin: 0 auto;
}

@media (min-width: 64rem) {
  .header {
    height: 5rem;
  }
}

.header__logo {
  position: relative;
  left: 1.5rem;
}

.navbar {
  min-width: 20.75rem;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.navbar__item {
  position: relative;
  line-height: 3.75rem;
  color: #9698a6;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

@media (min-width: 64rem) {
  .navbar__item {
    line-height: 5rem;
  }
}

@media (max-width: 63.9375rem) {
  .navbar__item {
    display: block;
    min-width: 15.75rem;
    margin: 0 1.5rem;
    line-height: 2.875rem;
    font-size: 1.125rem;
    color: #2d314d;
    font-weight: 400;
    text-align: center;
    background-color: white;
  }
  .navbar__item:first-child {
    margin-top: 1.5rem;
    padding-top: 1.125rem;
    border-top-left-radius: 0.1875rem;
    border-top-right-radius: 0.1875rem;
  }
  .navbar__item:last-child {
    padding-bottom: 1.25rem;
    border-bottom-left-radius: 0.1875rem;
    border-bottom-right-radius: 0.1875rem;
  }
  .navbar__item::after {
    display: none;
  }
}

.navbar__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.3125rem;
  background: white;
  -webkit-transition: .6s ease-in-out;
  -o-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

.navbar__item:hover {
  color: #2d314d;
}

.navbar__item:hover::after {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: -webkit-linear-gradient(left, #31d35c, #2bb7da);
  background: -o-linear-gradient(left, #31d35c, #2bb7da);
  background: linear-gradient(0.25turn, #31d35c, #2bb7da);
}

@media (max-width: 63.9375rem) {
  .navbar--mobile {
    position: absolute;
    z-index: 9;
    top: 3.75rem;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 18.75rem;
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(#2d314d, rgba(255, 255, 255, 0));
    background: -o-linear-gradient(#2d314d, rgba(255, 255, 255, 0));
    background: linear-gradient(#2d314d, rgba(255, 255, 255, 0));
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
}

.menu {
  position: relative;
  right: 1.5rem;
  width: 1.5rem;
  height: 0.875rem;
  cursor: pointer;
}

.menu__item {
  position: absolute;
  width: 1.5rem;
  height: 0.125rem;
  background-color: #9698a6;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.menu__item:first-child {
  top: 0;
}

.menu__item:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu__item:last-child {
  bottom: 0;
}

.menu--active .menu__item:first-child {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.menu--active .menu__item:nth-child(2) {
  opacity: 0;
}

.menu--active .menu__item:last-child {
  bottom: 50%;
  -webkit-transform: translateY(50%) rotate(-45deg);
      -ms-transform: translateY(50%) rotate(-45deg);
          transform: translateY(50%) rotate(-45deg);
}

.request__btn {
  position: relative;
  right: 1rem;
  width: 10.125rem;
  height: 2.75rem;
  color: #fafafa;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: -webkit-linear-gradient(left, #31d35c, #2bb7da);
  background: -o-linear-gradient(left, #31d35c, #2bb7da);
  background: linear-gradient(0.25turn, #31d35c, #2bb7da);
  border: none;
  outline: none;
  border-radius: 2rem;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.request__btn:hover {
  opacity: 0.6;
}

@media (max-width: 63.9375rem) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64rem) {
  .hide-for-desktop {
    display: none;
  }
}

.top {
  width: 100%;
  max-width: 90rem;
}

@media (min-width: 64rem) {
  .top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.top__img {
  position: relative;
  width: 100%;
  height: 77.4vw;
  max-height: 40.9375rem;
  margin: 0 auto;
  background-image: url("../images/bg-intro-mobile.svg");
  background-size: 100%;
  background-position: right;
  background-repeat: no-repeat;
}

@media (min-width: 64rem) {
  .top__img {
    max-width: 46.875rem;
    margin: 0;
    background-image: url("../images/bg-intro-desktop.svg");
    background-size: 200%;
    background-position: -4.375rem -20.625rem;
  }
}

.top__img::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/image-mockups.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (min-width: 64rem) {
  .top__img::after {
    height: 120%;
    background-position: 8.125rem -7.5rem;
  }
}

.top__cnt {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  text-align: center;
}

@media (min-width: 64rem) {
  .top__cnt {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 43.125rem;
    width: 100%;
    text-align: left;
  }
}

.top__cnt__wrapper {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  width: 100%;
  max-width: 35rem;
  padding: 0 1.75rem;
}

.top__cnt__ttl {
  padding: 2.125rem 0 0 0;
  font-size: 2.25rem;
}

@media (min-width: 64rem) {
  .top__cnt__ttl {
    font-size: 3.25rem;
  }
}

.top__cnt__inf {
  padding: 1.25rem 0;
  line-height: 1.6rem;
}

@media (min-width: 64rem) {
  .top__cnt__inf {
    max-width: 26.875rem;
    padding: 1.5rem 0;
    font-size: 1rem;
    line-height: 1.7rem;
  }
}

.top__cnt__btn {
  margin: 0 0 5.3125rem 0;
}

@media (min-width: 64rem) {
  .top__cnt__btn {
    margin: 0 0.875rem;
  }
}

.middle {
  padding: 72px 0 60px 0;
}

.middle__ttl {
  padding: 0 40px;
  font-size: 32px;
}

@media (min-width: 72.375rem) {
  .middle__ttl {
    text-align: left;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    padding: 0;
    font-size: 44px;
    font-weight: 300;
  }
}

.middle__lead {
  padding: 24px 28px 34px;
  line-height: 1.6rem;
}

@media (min-width: 72.375rem) {
  .middle__lead {
    text-align: left;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    max-width: 720px;
    padding: 24px 0 44px;
    font-size: 20px;
  }
}

.middle__cnt {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle__cnt :first-child {
  padding-left: 0;
}

.middle__cnt__wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 345px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 72.375rem) {
  .middle__cnt__wrapper {
    max-width: 280px;
    padding-left: 28px;
    padding-right: 28px;
  }
}

.middle .icon {
  display: block;
  width: 72px;
  padding: 15px 0;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

@media (min-width: 72.375rem) {
  .middle .icon {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
}

.middle__cnt__subttl {
  font-size: 20px;
  padding: 15px 0;
}

@media (min-width: 72.375rem) {
  .middle__cnt__subttl {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    font-size: 22px;
  }
}

.middle__cnt__inf {
  padding: 7px 28px;
  line-height: 1.6rem;
  text-align: center;
}

@media (min-width: 72.375rem) {
  .middle__cnt__inf {
    text-align: left;
    padding: 7px 0;
    font-size: 16px;
  }
}

.articles {
  padding: 5rem 0 3.75rem 0;
}

.articles__ttl {
  padding: 1.5rem 2.5rem;
  font-size: 2rem;
}

@media (min-width: 72.375rem) {
  .articles__ttl {
    text-align: left;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    padding: 2.125rem 0;
    font-size: 2.375rem;
    font-weight: 300;
  }
}

.articles__cnt {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articles__cnt__wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 21.5625rem;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0 0.625rem 1.25rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.articles__cnt__wrapper:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

@media (min-width: 72.375rem) {
  .articles__cnt__wrapper {
    max-width: 18.125rem;
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }
}

.articles__cnt__img {
  display: block;
  width: 100%;
  height: 12.75rem;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  background-size: cover;
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
}

@media (min-width: 72.375rem) {
  .articles__cnt__img {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
}

.articles__cnt__text-area {
  background-color: white;
  height: 16.25rem;
  border-bottom-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
}

.articles__cnt__text-area__author {
  padding: 1.875rem 0.625rem 0.3125rem;
  font-size: 0.6875rem;
  text-align: left;
}

.articles__cnt__text-area__subttl {
  padding: 0.625rem 0.625rem;
  font-size: 1rem;
  text-align: left;
}

.articles__cnt__text-area__subttl:hover {
  color: #31d35c;
  opacity: 0.8;
}

@media (min-width: 72.375rem) {
  .articles__cnt__text-area__subttl {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    font-size: 1rem;
  }
}

.articles__cnt__text-area__inf {
  padding: 0.625rem 0.625rem 2.5rem;
  line-height: 1.3rem;
  font-size: 0.875rem;
  text-align: left;
}

.money {
  background-image: url("../images/image-currency.jpg");
}

.restaurant {
  background-image: url("../images/image-restaurant.jpg");
}

.plane {
  background-image: url("../images/image-plane.jpg");
}

.confetti {
  background-image: url("../images/image-confetti.jpg");
}

@media (min-width: 72.375rem) {
  .first {
    padding-left: 0;
  }
}

.footer {
  background-color: #2d314d;
  color: #f3f4f6;
}

.footer__wrapper {
  margin: 0 auto;
}

@media (min-width: 72.375rem) {
  .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70.625rem;
    height: 11.875rem;
  }
}

.footer__imgs {
  height: 10rem;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 72.375rem) {
  .footer__imgs {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    width: 10rem;
  }
}

.footer__imgs__logo {
  width: 9.125rem;
}

.footer__imgs__social {
  width: 11.5625rem;
}

@media (min-width: 72.375rem) {
  .footer__imgs__social {
    width: 10rem;
  }
}

.footer__imgs__social__icon {
  width: 1.625rem;
}

@media (min-width: 72.375rem) {
  .footer__imgs__social__icon {
    width: 1.375rem;
  }
}

.footer__imgs__social__icon:hover {
  -webkit-filter: invert(61%) sepia(100%) saturate(367%) hue-rotate(81deg) brightness(93%) contrast(89%);
          filter: invert(61%) sepia(100%) saturate(367%) hue-rotate(81deg) brightness(93%) contrast(89%);
}

.footer__nav {
  margin: 0 auto;
  width: 11.5625rem;
  height: 11.25rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 72.375rem) {
  .footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 18.75rem;
  }
}

.footer__nav__cnt {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5.25rem;
}

.footer__nav__cnt__lnk {
  color: inherit;
}

.footer__nav__cnt__lnk__item {
  text-align: center;
  font-size: 0.875rem;
}

@media (min-width: 72.375rem) {
  .footer__nav__cnt__lnk__item {
    text-align: left;
  }
}

.footer__nav__cnt__lnk__item:hover {
  color: #31d35c;
  opacity: 0.8;
}

.footer__btn-and-copy {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  height: 11.25rem;
  padding: 0.625rem 0 2.5rem;
}

.footer__btn-and-copy__lnk {
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 72.375rem) {
  .footer__btn-and-copy__lnk {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.footer__btn-and-copy__btn {
  position: static;
}

@media (min-width: 72.375rem) {
  .footer__btn-and-copy__btn {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
}

.footer__btn-and-copy__copy {
  color: #9698a6;
  font-size: 0.875rem;
}

.footer__attribution {
  width: 100%;
  font-size: 9px;
  text-align: center;
  padding: 10px 0;
}

.footer__attribution__lnk {
  color: white;
}

.footer__attribution__lnk:hover {
  color: #31d35c;
}
/*# sourceMappingURL=style.css.map */