// wrapper
.top
  width: 100%
  max-width: 90rem

  @include breakpoint-up(medium)
    flex-direction: row-reverse
    justify-content: space-between

  // images
  &__img
    position: relative
    width: 100%
    height: 77.4vw
    max-height: 40.9375rem
    margin: 0 auto
    background-image: url('../../images/bg-intro-mobile.svg')
    background-size: 100%
    background-position: right
    background-repeat: no-repeat

    @include breakpoint-up(medium)
      max-width: 46.875rem
      margin: 0
      background-image: url('../../images/bg-intro-desktop.svg')
      background-size: 200%
      background-position: -4.375rem -20.625rem

    &::after
      position: absolute
      content: ''
      display: block
      width: 100%
      height: 100%
      background-image: url('../../images/image-mockups.png')
      background-size: 100%
      background-repeat: no-repeat
      background-position: center bottom

      @include breakpoint-up(medium)
        height: 120%
        background-position: 8.125rem -7.5rem

  // content
  &__cnt
    align-self: center
    text-align: center

    @include breakpoint-up(medium)
      justify-content: flex-start
      max-width: 43.125rem
      width: 100%
      text-align: left

    &__wrapper
      align-self: flex-end
      width: 100%
      max-width: 35rem
      padding: 0 28px

    // title
    &__ttl
      padding: 2.125rem 0 0 0
      font-size: 2.25rem

      @include breakpoint-up(medium)
        font-size: 3.25rem

    &__inf
      padding: 1.25rem 0
      line-height: 1.6rem

      @include breakpoint-up(medium)
        max-width: 26.875rem
        padding: 1.5rem 0
        font-size: 1rem
        line-height: 1.7rem

    &__btn
      margin: 0 0 5.3125rem 0

      @include breakpoint-up(medium)
        margin: 0 0.875rem
